ul {
  list-style-type: none !important;
}

.hero {
  border: black solid 1px;
  padding: 5% 0 1%;
}

.top-margin {
  margin-top: 3%;
}

#formSubmit {
  margin: 3% 0 !important;
}

.headerBtn{
  margin: 4% 0 0 2%!important;
}
